@charset "UTF-8";
/*** flex布局 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400; }

.gift-packs {
  /******************************大礼包优惠券******************************************/ }
  .gift-packs .gift-packs-header {
    height: 10rem;
    position: relative; }
    .gift-packs .gift-packs-header img {
      height: 100%;
      display: block; }
    .gift-packs .gift-packs-header u {
      position: absolute;
      color: white;
      right: 0.5rem;
      top: 0.5rem;
      text-decoration: none; }
      .gift-packs .gift-packs-header u a {
        color: white;
        font-size: 0.7rem;
        font-weight: 500;
        padding-bottom: 0.05rem;
        border-bottom: 1px solid #fff; }
  .gift-packs .gift-packs-mian {
    background: #fb4f70;
    padding-bottom: 4rem;
    /**************************claim********************/ }
    .gift-packs .gift-packs-mian .gift-packs-coupons {
      list-style: none;
      width: 100%; }
      .gift-packs .gift-packs-mian .gift-packs-coupons li {
        float: left;
        width: 50%;
        background: url("/img/new_myself/coupons.png") no-repeat;
        background-size: 100% 100%;
        height: 4rem;
        margin-top: 0.3rem; }
        .gift-packs .gift-packs-mian .gift-packs-coupons li strong {
          position: relative;
          top: 0.6rem;
          left: 0.75rem;
          color: #fd5353;
          font-size: 1.6rem;
          font-weight: 900; }
          .gift-packs .gift-packs-mian .gift-packs-coupons li strong i {
            position: absolute;
            bottom: 0.1rem;
            right: -0.4rem;
            font-style: normal;
            background: #ff5454;
            width: 0.8rem;
            height: 0.8rem;
            line-height: 0.8rem;
            border: 1px solid #fff;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            font-weight: 900;
            font-size: 0.6rem;
            color: white;
            text-align: center; }
        .gift-packs .gift-packs-mian .gift-packs-coupons li span {
          float: right;
          font-size: 0.75rem;
          color: #222222;
          width: 66%;
          text-align: center;
          padding-top: 0.75rem;
          font-weight: 600; }
          .gift-packs .gift-packs-mian .gift-packs-coupons li span u {
            text-decoration: none;
            color: #a75312; }
      .gift-packs .gift-packs-mian .gift-packs-coupons::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    .gift-packs .gift-packs-mian .claim {
      padding: 0 3rem;
      padding-top: 1rem;
      width: 100%; }
      .gift-packs .gift-packs-mian .claim button {
        width: 100%;
        background: #ffcf27;
        height: 2rem;
        line-height: 2rem;
        color: #550000;
        font-size: 0.8rem;
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem;
        font-weight: 700; }

/***********************弹框*****************************/
.success-receive {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: absolute;
  text-align: center;
  display: none; }
  .success-receive img {
    width: 14rem;
    height: 9rem;
    margin-top: 12rem; }

/*# sourceMappingURL=giftPacks.css.map */
