@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  cursor: pointer; }

a {
  color: #333; }

ul, ol, dl {
  list-style: none; }

input, button {
  border: none; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

img {
  -webkit-touch-callout: default;
  width: 100%;
  height: 100%; }

/*** iconJs ***/
.svgIcon {
  /* 通过设置 font-size 来改变图标大小 */
  width: 1em;
  height: 1em;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: -0.15em;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示 normalize.css 中也包含这行 */
  overflow: hidden; }

/*** 内容区 ***/
.content {
  background: #f5f5f5; }

/*** 圆角 ***/
.border_radius {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

/*** flex布局 ***/
.display_flex, .banner-prodraw .swipe-wrap, .banner-prodraw .swipe-wrap-list, .product_list dl, .product_list dl dd, .product_list dl dd .plprice, .compared_sort, .baai_prompt, .reconfirm dl dd, .global-nothing {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

/*** 浮动 ***/
.position_fixed {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1; }

/*** 清除浮动 ***/
.clearfix::before, .beancurd_cube::before, .clearfix::after, .beancurd_cube::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*** 按钮样式 ***/
.g_button_line, .g_button_bgclor {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0.3rem 0.6rem;
  border: 1px solid #dbdbdb; }

.g_button_bgclor {
  color: #fff;
  background: #F13130;
  border: none; }

/*** 页头 ***/
header {
  /*** 搜索 ***/ }
  header h1 {
    font-weight: bold !important; }
  header h6 {
    line-height: 2.2rem;
    font-size: .85rem;
    font-weight: 500;
    position: relative;
    z-index: 20; }
  header .search-input {
    width: 80%;
    margin: auto; }
    header .search-input input {
      margin: auto !important;
      margin-top: 0.37rem !important;
      border: 1px solid #EA5E5D; }

.bar {
  background: #fff; }

/*** 页尾 ***/
footer {
  line-height: normal;
  /*** 按钮 ***/ }
  footer span {
    display: block;
    font-size: 0.65rem; }
  footer .svgIcon {
    font-size: 1.2rem; }
  footer .tab-item {
    color: #333 !important; }
  footer .selected {
    color: #f13030 !important; }
  footer .footerButton {
    font-weight: bold;
    color: #fff;
    width: 100%;
    height: 100%;
    background: #EA5E5D; }

/*** Swipe轮播Banner ***/
.banner-prodraw {
  position: relative; }
  .banner-prodraw .swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative; }
  .banner-prodraw .swipe-wrap {
    overflow: hidden;
    position: relative;
    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    box-align: center;
    align-items: center; }
    .banner-prodraw .swipe-wrap a {
      display: block;
      float: left;
      width: 100%;
      position: relative; }
      .banner-prodraw .swipe-wrap a img {
        display: block; }
  .banner-prodraw .swipe-wrap-count {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    color: #fff;
    background: #000;
    filter: Alpha(opacity=50);
    background: rgba(0, 0, 0, 0.5);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 2.5rem;
    text-align: center; }
  .banner-prodraw .swipe-wrap-list {
    position: absolute;
    width: 100%;
    bottom: 0.25rem;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    justify-content: center; }
    .banner-prodraw .swipe-wrap-list p {
      width: 0.25rem;
      height: 0.25rem;
      background: #000;
      filter: Alpha(opacity=50);
      background: rgba(0, 0, 0, 0.5);
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      margin: 0 0.125rem; }
    .banner-prodraw .swipe-wrap-list .choice-list {
      background: #f13030; }

/*** 商品 ***/
.product_list dl {
  background: #fff;
  border-bottom: 1px solid #F6F6F6; }
  .product_list dl dt {
    width: 35%;
    position: relative; }
    .product_list dl dt::after {
      content: '';
      display: block;
      padding-top: 100%;
      visibility: hidden; }
    .product_list dl dt img {
      position: absolute;
      top: 0;
      left: 0; }
  .product_list dl dd {
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
    width: 65%;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-size: 0.7rem; }
    .product_list dl dd p {
      padding: 0 0.5rem; }
    .product_list dl dd .plname {
      line-height: 1.05rem;
      height: 2.1rem;
      word-break: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden; }
    .product_list dl dd .plbrand {
      text-align: right;
      padding: 0px; }
      .product_list dl dd .plbrand span {
        padding: 5px;
        padding-left: 10px;
        border: solid 1px #d7d7d7;
        border-right: none;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-bottomleft: 25px;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px; }
    .product_list dl dd .plprice {
      color: #F13333;
      -webkit-box-pack: justify;
      -webkit-box-align: center;
      justify-content: space-between;
      align-items: flex-end; }
      .product_list dl dd .plprice strong {
        font-size: 0.8rem;
        font-weight: normal; }
      .product_list dl dd .plprice .stork {
        color: #999;
        padding-left: 0.3rem;
        font-size: 0.75rem; }
      .product_list dl dd .plprice .cancel {
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 0.3rem 0.5rem;
        color: #fff;
        background: #f13030; }

/*** 豆腐 ***/
.beancurd_cube dl {
  display: -moz-block;
  display: -webkit-block;
  display: block;
  float: left;
  width: 49%;
  border-bottom: 0.4rem solid #F6F6F6; }
  .beancurd_cube dl dt {
    width: 100%; }
  .beancurd_cube dl dd {
    width: 100%; }
.beancurd_cube dl:nth-child(even) {
  margin-left: 2%; }

/*** 排序 ***/
.compared_sort {
  justify-content: space-around;
  border-bottom: 1px solid #F4F4F4;
  background: #fff; }
  .compared_sort dl dt {
    line-height: 2rem; }
  .compared_sort dl dd {
    line-height: 1.5rem; }
  .compared_sort .selected_red {
    color: #F12929; }

/*** baai ***/
.baai_prompt {
  padding: 1rem 0;
  text-align: center;
  color: #dbdbdb;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .baai_prompt p img {
    width: 50%; }

/*** reconfirm ***/
.reconfirm {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 5, 5, 0.3) !important;
  filter: Alpha(opacity=30);
  background: #1a0505; }
  .reconfirm dl {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 66%;
    padding: 1rem;
    margin: auto;
    background: #fff;
    position: absolute;
    top: 30%;
    left: 17%; }
    .reconfirm dl dt {
      font-size: 0.8rem;
      padding-bottom: 1rem; }
    .reconfirm dl dd {
      justify-content: space-between; }
      .reconfirm dl dd button {
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        width: 48%;
        height: 1.6rem;
        font-size: 0.75rem; }
      .reconfirm dl dd .sure {
        color: #fff;
        background: #F12929; }
      .reconfirm dl dd .cancel {
        color: #f13030;
        background: none;
        border: 1px solid #f13030; }

/*** 未登陆&无数据 ***/
.global-nothing {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  -moz-box-align: center;
  -webkit-box-align: center;
  -o-box-align: center;
  box-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .global-nothing a {
    color: #f13030; }
  .global-nothing .svgIcon {
    font-size: 1.5rem; }

/***tab菜单***/
.buttons-tab .button.active {
  color: #f13030;
  border-color: #f13030; }

/*** global-none ***/
.global-none {
  display: none !important; }

/*** BODY大于640 ***/
@media (min-device-width: 640px) {
  html {
    background: #f8f8f8; }

  body {
    display: block;
    width: 540px;
    border: 1px solid #ddd;
    margin: auto;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
    body .buttons-tab, body .settlement, body .del_select, body .position_fixed, body .reconfirm {
      width: 538px !important; } }
.breathing-btn {
  position: fixed;
  bottom: 3rem;
  right: 0.5rem;
  display: block;
  z-index: 1000; }
  .breathing-btn span {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: rgba(47, 52, 61, 0.95);
    text-align: center;
    line-height: 2.2rem;
    color: white;
    font-size: 0.5rem; }
  .breathing-btn .global_breathing {
    display: none; }
    .breathing-btn .global_breathing ul {
      background: rgba(47, 52, 61, 0.95);
      height: 2.2rem;
      width: 8rem;
      line-height: 2.2rem;
      display: -moz-box;
      display: -webkit-box;
      text-align: center;
      border-radius: 1.2rem;
      -moz-border-radius: 1.2rem;
      -webkit-border-radius: 1.2rem;
      -moz-box-direction: normal;
      -webkit-box-direction: normal;
      box-direction: normal;
      list-style: none; }
      .breathing-btn .global_breathing ul li {
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        color: white; }
        .breathing-btn .global_breathing ul li a {
          color: white; }

/*# sourceMappingURL=global.css.map */
