@charset "UTF-8";
/*** 公共 ***/
.display_flex, .home .special ul, .home .hotbrand .layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

/*** own ***/
.home h2 {
  color: #f7aba9;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
  padding: 0.5rem 0; }
  .home h2 .iconfont {
    padding-right: 0.2rem; }
  .home h2 .svgIcon {
    font-size: 1rem;
    margin-right: 0.2rem; }
.home .banner-prodraw img {
  height: 10rem; }
.home .minbanner {
  margin: 0.5rem 0; }
.home .special h1 {
  color: #666;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: center;
  position: relative; }
  .home .special h1 span {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: block;
    color: #fff;
    background-color: rgba(26, 5, 5, 0.3);
    filter: Alpha(opacity=30);
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 0.5rem; }
    .home .special h1 span a {
      color: #fff;
      display: block; }
.home .special ul {
  padding-top: 0.5rem;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
  justify-content: space-between; }
  .home .special ul li {
    width: 24%;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 0.1rem; }
    .home .special ul li span {
      display: block;
      height: 1.5rem;
      line-height: 1.5rem;
      overflow: hidden;
      font-size: 0.7rem;
      text-align: center; }
    .home .special ul li p {
      position: relative; }
      .home .special ul li p img {
        position: absolute;
        left: 0;
        top: 0; }
      .home .special ul li p::after {
        content: '';
        display: block;
        padding-top: 100%;
        visibility: hidden; }
.home .hotbrand .layout {
  padding: 0.8rem 0;
  background: #fff;
  text-align: center;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
  justify-content: space-between; }
  .home .hotbrand .layout dl dt {
    font-size: 0.8rem;
    color: #ccc;
    height: 1.2rem;
    line-height: 1.2rem;
    overflow: hidden;
    margin-bottom: 0.5rem; }
    .home .hotbrand .layout dl dt:first-child {
      color: #333;
      margin: 0; }
  .home .hotbrand .layout dl dd {
    position: relative; }
    .home .hotbrand .layout dl dd img {
      position: absolute;
      left: 0;
      top: 0; }
    .home .hotbrand .layout dl dd::after {
      content: '';
      display: block;
      padding-top: 100%;
      visibility: hidden; }
.home .hotbrand .layout-2 dl {
  width: 49%; }
.home .hotbrand .layout-3 dl {
  width: 33%; }
.home .hotbrand .layout-4 dl {
  width: 24%; }
.home .hotbrand .layout-test {
  background: none;
  padding: 0; }
  .home .hotbrand .layout-test dl {
    background: #fff;
    margin-top: 0.25rem;
    width: 24%;
    padding: 0.3rem 0; }
    .home .hotbrand .layout-test dl dt {
      font-size: 0.7rem; }

/*** search ***/
header .search-input {
  width: 100%; }

.bar-nav ~ .content {
  top: 0; }

.bar {
  background: none; }

.bar::after {
  background: none; }

/*# sourceMappingURL=home.css.map */
