@charset "UTF-8";
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400; }

.invoice-fill {
  /***************************公司、税号*********************************/
  /**************************保存********************/ }
  .invoice-fill .hint {
    background: #f2f2f2;
    color: #222222;
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
    border-top: 1px solid #c2c2c2; }
  .invoice-fill .invoice-title {
    background: white; }
    .invoice-fill .invoice-title dl {
      border-top: 1px solid #eeeeee;
      background: white;
      padding: 0.6rem 0.8rem;
      font-size: 0.75rem; }
      .invoice-fill .invoice-title dl dt {
        float: left; }
        .invoice-fill .invoice-title dl dt .svgIcon {
          font-size: 1rem; }
      .invoice-fill .invoice-title dl .checked .svgIcon {
        color: #fb4f70; }
      .invoice-fill .invoice-title dl dd {
        float: left;
        margin-left: 0.5rem; }
        .invoice-fill .invoice-title dl dd .svgIcon {
          font-size: 0.8rem; }
      .invoice-fill .invoice-title dl::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
  .invoice-fill .invoice-fill-content {
    margin-top: 0.5rem;
    background: white;
    display: none; }
    .invoice-fill .invoice-fill-content ul {
      list-style: none; }
      .invoice-fill .invoice-fill-content ul li {
        padding: 0.5rem 0.8rem;
        color: #222222;
        font-size: 0.75rem;
        border-top: 1px solid #eeeeee; }
        .invoice-fill .invoice-fill-content ul li span {
          float: right;
          width: 66%; }
          .invoice-fill .invoice-fill-content ul li span input {
            border: none;
            width: 90%; }
          .invoice-fill .invoice-fill-content ul li span ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #888888; }
          .invoice-fill .invoice-fill-content ul li span :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #888888; }
          .invoice-fill .invoice-fill-content ul li span ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #888888; }
          .invoice-fill .invoice-fill-content ul li span :-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #888888; }
          .invoice-fill .invoice-fill-content ul li span strong {
            display: none;
            float: right;
            position: relative;
            width: 10%;
            top: 0.1rem; }
            .invoice-fill .invoice-fill-content ul li span strong .svgIcon {
              font-size: 0.9rem;
              color: #cacaca; }
  .invoice-fill .save {
    padding: 0 1rem;
    padding-top: 1.5rem;
    width: 100%; }
    .invoice-fill .save button {
      width: 100%;
      background: #f64d6c;
      height: 2rem;
      line-height: 2rem;
      color: #fff;
      font-weight: 500;
      font-size: 0.8rem;
      -moz-border-radius: 1rem;
      -webkit-border-radius: 1rem;
      border-radius: 1rem; }

/*# sourceMappingURL=invoiceFill.css.map */
