@charset "UTF-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400; }

.join {
  background: white;
  width: 100%; }
  .join .join-form {
    padding: 0 0.5rem;
    /******************表单提交内容--微商*******************/
    /******************表单提交内容--common*******************/
    /***************common-explain******************/ }
    .join .join-form .molds {
      border: 1px solid #a7a7a7;
      padding: 0.5rem;
      color: #777777;
      font-size: 0.85rem;
      background: #dddddd;
      -moz-border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      border-radius: 0.3rem;
      position: relative; }
      .join .join-form .molds img {
        display: block;
        float: right;
        width: 1.2rem;
        position: relative;
        top: 0.3rem; }
      .join .join-form .molds .select-molds {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background: white;
        color: #222222;
        border: 1px solid #222222;
        background: white;
        list-style: none;
        display: none; }
        .join .join-form .molds .select-molds li {
          padding: 0.4rem 0.5rem; }
        .join .join-form .molds .select-molds p {
          padding: 0.4rem 0.5rem;
          border-bottom: 1px solid #222222; }
    .join .join-form .form-content-weishang {
      width: 100%; }
      .join .join-form .form-content-weishang p {
        border: 1px solid #a7a7a7;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.85rem;
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem;
        margin-top: 0.5rem; }
        .join .join-form .form-content-weishang p input {
          width: 92%;
          font-size: 0.85rem;
          color: #222222; }
          .join .join-form .form-content-weishang p input ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #777777; }
          .join .join-form .form-content-weishang p input :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #777777; }
          .join .join-form .form-content-weishang p input ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #777777; }
          .join .join-form .form-content-weishang p input :-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #777777; }
        .join .join-form .form-content-weishang p span {
          display: none;
          float: right;
          position: relative;
          top: 0.1rem; }
          .join .join-form .form-content-weishang p span .svgIcon {
            font-size: 1rem;
            color: #cacaca; }
      .join .join-form .form-content-weishang .weishang-submit {
        display: block;
        background: #ee2266;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        font-size: 0.85rem;
        font-weight: 600;
        color: #fff;
        margin-top: 0.9rem;
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem; }
    .join .join-form .form-content-common {
      display: none;
      width: 100%; }
      .join .join-form .form-content-common p {
        width: 100%;
        border: 1px solid #a7a7a7;
        padding: 0.5rem;
        font-size: 0.85rem;
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
        position: relative; }
        .join .join-form .form-content-common p input {
          font-size: 0.85rem;
          width: 92%;
          color: #222222; }
          .join .join-form .form-content-common p input ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #777777; }
          .join .join-form .form-content-common p input :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #777777; }
          .join .join-form .form-content-common p input ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #777777; }
          .join .join-form .form-content-common p input :-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #777777; }
        .join .join-form .form-content-common p span {
          display: none;
          float: right;
          position: relative;
          top: 0.1rem; }
          .join .join-form .form-content-common p span .svgIcon {
            font-size: 1rem;
            color: #cacaca; }
        .join .join-form .form-content-common p textarea::-webkit-input-placeholder {
          color: #777777; }
        .join .join-form .form-content-common p .area {
          width: 100%;
          height: 7rem;
          display: inline-block;
          overflow: auto;
          background-attachment: fixed;
          background-repeat: no-repeat;
          border-style: solid;
          border-color: #FFFFFF;
          color: #222222;
          resize: none; }
        .join .join-form .form-content-common p u {
          position: absolute;
          text-decoration: none;
          bottom: 0.1rem;
          right: 0.5rem;
          color: #777777; }
          .join .join-form .form-content-common p u i {
            font-style: normal; }
      .join .join-form .form-content-common .uploader {
        padding-top: 0.5rem; }
        .join .join-form .form-content-common .uploader .uploader-title {
          width: 100%; }
          .join .join-form .form-content-common .uploader .uploader-title h5 {
            font-weight: 500;
            width: 34%;
            text-align: center;
            font-size: 0.80rem;
            padding: 0.4rem 0;
            float: left; }
          .join .join-form .form-content-common .uploader .uploader-title span {
            float: left;
            color: #777777;
            font-size: 0.7rem;
            position: relative;
            top: 0.5rem;
            margin-left: 0.6rem; }
          .join .join-form .form-content-common .uploader .uploader-title::after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
        .join .join-form .form-content-common .uploader .uploader-img {
          overflow: hidden;
          background: white;
          margin-top: 0.5rem;
          padding-bottom: 0.5rem;
          width: 100%; }
          .join .join-form .form-content-common .uploader .uploader-img li {
            list-style: none;
            float: left;
            margin-right: 0.5rem; }
          .join .join-form .form-content-common .uploader .uploader-img .upload {
            padding: 0;
            width: 4.6rem;
            height: 5.6rem;
            line-height: 5.6rem;
            text-align: center;
            border: 1px solid #c4c4c4;
            background: white;
            position: relative; }
            .join .join-form .form-content-common .uploader .uploader-img .upload input {
              display: block;
              position: absolute;
              top: 0;
              opacity: 0;
              width: 100%;
              height: 100%; }
            .join .join-form .form-content-common .uploader .uploader-img .upload strong {
              display: block;
              font-weight: normal; }
              .join .join-form .form-content-common .uploader .uploader-img .upload strong .svgIcon {
                font-size: 1.5rem;
                color: #81848D; }
          .join .join-form .form-content-common .uploader .uploader-img .delpic {
            position: relative;
            width: 4.6rem;
            height: 5.6rem;
            border: 1px solid #EAECE7;
            margin-right: 0.1rem; }
            .join .join-form .form-content-common .uploader .uploader-img .delpic span {
              position: absolute;
              right: 0;
              top: -5px; }
              .join .join-form .form-content-common .uploader .uploader-img .delpic span .iconfont {
                font-size: 1.2rem; }
            .join .join-form .form-content-common .uploader .uploader-img .delpic img {
              width: 4.6rem;
              height: 5.6rem; }
        .join .join-form .form-content-common .uploader .uploadfrom {
          display: none; }
      .join .join-form .form-content-common .common-submit {
        display: block;
        background: #ee2266;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        font-size: 0.85rem;
        font-weight: 600;
        color: #fff;
        margin-top: 0.9rem;
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem; }
    .join .join-form .common-explain {
      padding-top: 1rem;
      padding-bottom: 2rem; }
      .join .join-form .common-explain p {
        line-height: 1.5rem;
        color: #777777;
        font-weight: 900; }

/*# sourceMappingURL=join.css.map */
