@charset "UTF-8";
/*** 公共 ***/
.display_flex, .content .mood {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400; }

.content {
  padding-top: 0.6rem;
  /***********************内容反馈*****************************************/
  /*****************快速选择**************************************/
  /**************************submit********************/ }
  .content .mood {
    background: #fff;
    justify-content: space-around;
    padding-top: 0.3rem; }
    .content .mood dl {
      width: 25%;
      text-align: center;
      padding: 0.5rem 0;
      line-height: normal;
      position: relative; }
      .content .mood dl dt {
        padding-bottom: 0.1rem; }
        .content .mood dl dt .svgIcon {
          font-size: 1.6rem;
          font-weight: 900;
          color: #999999; }
      .content .mood dl dd {
        font-size: 0.7rem;
        color: #b8b8b8; }
    .content .mood .mood-active dt .svgIcon {
      color: #f46a83; }
    .content .mood .mood-active dd {
      color: #222222; }
  .content .content-feedback {
    padding: 0.6rem 0.8rem; }
    .content .content-feedback .content-feedback-textarea {
      border: 1px solid #c9c9c9;
      -moz-border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      border-radius: 0.3rem;
      padding: 0.5rem;
      background: white; }
      .content .content-feedback .content-feedback-textarea p {
        position: relative; }
        .content .content-feedback .content-feedback-textarea p .area {
          width: 100%;
          height: 8rem;
          display: inline-block;
          overflow: auto;
          background-attachment: fixed;
          background-repeat: no-repeat;
          border-style: solid;
          border-color: #FFFFFF;
          color: #909090;
          font-size: 0.75rem;
          resize: none; }
        .content .content-feedback .content-feedback-textarea p span {
          position: absolute;
          bottom: 0.3rem;
          right: 0.2rem;
          color: #909090; }
          .content .content-feedback .content-feedback-textarea p span i {
            font-style: normal; }
      .content .content-feedback .content-feedback-textarea .uploader {
        overflow: hidden;
        padding: 0.5rem;
        width: 100%; }
        .content .content-feedback .content-feedback-textarea .uploader li {
          list-style: none;
          float: left;
          margin-right: 0.5rem; }
        .content .content-feedback .content-feedback-textarea .uploader .upload {
          padding: 0;
          width: 4rem;
          height: 4rem;
          line-height: 4rem;
          text-align: center;
          border: 1px solid #c4c4c4;
          background: white;
          position: relative; }
          .content .content-feedback .content-feedback-textarea .uploader .upload input {
            display: block;
            position: absolute;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%; }
          .content .content-feedback .content-feedback-textarea .uploader .upload strong {
            display: block;
            font-weight: normal; }
            .content .content-feedback .content-feedback-textarea .uploader .upload strong .svgIcon {
              font-size: 1.5rem;
              color: #81848D; }
        .content .content-feedback .content-feedback-textarea .uploader .delpic {
          position: relative;
          width: 4rem;
          height: 4rem;
          border: 1px solid #EAECE7;
          margin-right: 0.1rem; }
          .content .content-feedback .content-feedback-textarea .uploader .delpic span {
            position: absolute;
            right: 0;
            top: -5px; }
            .content .content-feedback .content-feedback-textarea .uploader .delpic span .iconfont {
              font-size: 0.85rem; }
          .content .content-feedback .content-feedback-textarea .uploader .delpic img {
            width: 4rem;
            height: 4rem; }
        .content .content-feedback .content-feedback-textarea .uploader p {
          font-size: 0.7rem;
          line-height: 0.9rem;
          color: #aaaaaa;
          padding-top: 0.2rem; }
  .content .fast-select {
    background: white;
    padding: 0.8rem; }
    .content .fast-select h5 {
      font-size: 0.7rem;
      color: #222222;
      padding-bottom: 0.4rem; }
    .content .fast-select ul {
      list-style: none; }
      .content .fast-select ul li {
        float: left;
        width: 28.7%;
        padding: 0.4rem 0;
        color: #999999;
        font-size: 0.75rem;
        text-align: center;
        border: 1px solid #999999;
        margin: 0.3rem 0;
        margin-right: 1rem;
        position: relative;
        -moz-border-radius: 0.3rem;
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem; }
        .content .fast-select ul li span {
          position: absolute;
          -moz-border-top-right-radius: 0.4rem;
          -webkit-border-top-right-radius: 0.4rem;
          border-top-right-radius: 0.4rem;
          overflow: hidden;
          right: -0.1rem;
          top: -0.1rem;
          display: none; }
          .content .fast-select ul li span .svgIcon {
            font-size: 1rem;
            color: #f54c6b; }
      .content .fast-select ul .select-active {
        border-color: #f54c6b; }
      .content .fast-select ul .select-active-chlid {
        display: block; }
      .content .fast-select ul li:nth-child(3) {
        margin-right: 0; }
      .content .fast-select ul::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
  .content .submit {
    padding: 0 0.9rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%; }
    .content .submit button {
      width: 100%;
      background: #f64d6c;
      height: 2rem;
      line-height: 2rem;
      color: #ffffff;
      font-size: 0.8rem;
      -moz-border-radius: 0.9rem;
      -webkit-border-radius: 0.9rem;
      border-radius: 0.9rem; }

/*# sourceMappingURL=question_feedback.css.map */
