@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

/***********own**************/
.about-goods{
  background: #fff;
  padding: 0 1rem;
  width: 100%;
  h4{
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e8ecef;
  }
  .about-goods-detail{
    padding-top: 0.5rem;
    h5{
      color:#444444;
      font-weight: bold;
      font-size: 0.85rem;
    }
    p{
      color: #444;
      font-weight: 400;
      line-height: 1.6rem;
      padding-bottom: 0.5rem;
      text-indent: 1em;
    }
  }
}