@charset "utf-8";
/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400;
}
.account-settings {
  .account-settings-header {
    border-top: 1px solid #cccccc;
    padding: 0.8rem 0.5rem 0.8rem 0.8rem;
    background: white;
    .user-head {
      float: left;
      height: 2.6rem;
      width: 2.6rem;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
    h5 {
      float: left;
      color: #222222;
      font-size: 0.75rem;
      margin-left: 0.4rem;
      position: relative;
      top:0.7rem;
      width: 42%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    span {
      float: right;
      color: #888888;
      font-size: 0.75rem;
      position: relative;
      top:0.7rem;
      .svgIcon {
        font-size: 0.75rem;
      }
    }
    &::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  /*****************add-information************/
  .add-information {
    color: #888888;
    padding: 0.5rem 0.8rem;
    font-size: 0.65rem;
  }
  .add-like {
    background: white;
    p {
      width: 100%;
      padding: 0.8rem 0.5rem 0.8rem 0.8rem;
      font-size: 0.8rem;
      color: #222222;
      span {
        float: right;
        color: #888888;
        font-size: 0.75rem;
      }
    }
  }
  /********************user-info-settings*******************/
  .user-info-settings {
    margin-top: 0.5rem;
    padding-left: 0.8rem;
    width: 100%;
    background: white;
    p {
      padding: 0.5rem 0.5rem 0.5rem 0;
      width: 100%;
      font-size: 0.75rem;
      color: #222222;
      border-bottom: 1px solid #eeeeee;
      span {
        float: right;
        color: #888888;
        font-size: 0.75rem;
      }
    }
  }
  /********************baai-about*******************/
  .baai-about {
    margin-top: 0.5rem;
    padding-left: 0.8rem;
    background: white;
    width: 100%;
    p {
      padding: 0.5rem 0.5rem 0.5rem 0;
      width: 100%;
      font-size: 0.75rem;
      color: #222222;
      border-bottom: 1px solid #eeeeee;
      span {
        float: right;
        color: #888888;
        font-size: 0.75rem;
      }
    }
  }
  /**************************退出当前账号********************/
  .drop-out {
    padding: 0 0.9rem;
    padding-top: 1rem;
    width: 100%;
    button {
      width: 100%;
      border: 1px solid #fc8b9e;
      height: 2rem;
      line-height: 2rem;
      color: #fc8b9e;
      font-size: 0.8rem;
      -moz-border-radius: 0.9rem;
      -webkit-border-radius: 0.9rem;
      border-radius: 0.9rem;
      background: white;
    }
  }
}