@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.all_oders {
  .global-nothing {
    padding-top: 50%;
  }
  background: #F5F5F5;
  .position_fixed {
    padding-top: 2.2rem;
  }
  .order_state {
    background: #FCFCFC;
    @extend .display_flex;
    justify-content: space-between;
    font-size: 0.75rem;
    p {
      display: block;
      width: 20%;
      text-align: center;
      box-sizing: content-box;
      padding: 0.3rem 0;
    }
    .called {
      color: #f13030;
      border-bottom: 2px solid #f13030;
    }
  }
  .oders_list{
    font-size: 0.75rem;
    padding-top: 1.5rem;
    a {
      color: #333;
    }
    ul {
      background: #fff;
      margin-top: 0.75rem;
      > li {
        padding: 0.3rem 0.5rem;
        border-bottom: 1px solid #DCDCDC;
        .iconfont {
          font-size: 1rem;
          color: #909090;
          margin-right: 0.3rem;
        }
      }
      .ref {
        @extend .display_flex;
        justify-content: space-between;
      }
      .send {
      }
      .pickup {
        border: none;
      }
      .lst {
        background: #EBEBEB;
        padding: 0;
        border: none;
        dl {
          @extend .display_flex;
          padding: 0.5rem;
          border-bottom: 1px solid #fff;
          dt {
            width: 25%;
            img {
              width: 100%;
            }
          }
          dd {
            width: 75%;
            @extend .display_flex;
            justify-content: space-between;
            line-height: 1.05rem;
            p {
              span {
                display: block;
              }
              s {
                color: #999;
              }
              u {
                text-decoration: none;
                color: #666;
              }
              strong {
                display: block;
                font-weight: normal;
                max-height: 2.1rem;
                -webkit-line-clamp: 2;
                overflow : hidden;
              }
            }
            p:nth-child(1) {
              padding-left: 0.5rem;
            }
            p:nth-child(2) {
              padding-left: 1rem;
              text-align: right;
            }
          }
        }
      }
      .pic {
        @extend .display_flex;
        justify-content: space-between;
      }
      .state {
        @extend .display_flex;
        flex-direction: row-reverse;
        border: none;
        p {
          -moz-border-radius: 25px;
          -webkit-border-radius: 25px;
          border-radius: 25px;
          padding: 0.2rem 0.4rem;
          margin-left: 0.5rem;
          border: 1px solid #dbdbdb;
        }
        .gray {
          color: #fff;
          background: #979797;
          border: none;
          a {
            color: #fff;
          }
        }
        .red {
          color: #fff;
          background: #F13130;
          border: none;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}