@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.area_data {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 5, 5, 0.3) !important;
  filter: Alpha(opacity=30);
  background: #1a0505;
  dl {
    font-size: 0.85rem;
    background: #fff;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
    margin: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    padding-top: 2rem;
    top: 10%;
    dt {
      width: 80%;
      color: #FA4071;
      background: #f5f5f5;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: fixed;
      top: 10%;
      line-height: 2rem;
      padding: 0 1rem;
    }
    dd {
      line-height: 2rem;
      p {
        border-top: 1px solid #efefef;
        padding: 0 1rem;
      }
    }
  }
}