@charset "utf-8";
/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400;
}
.certification {
  .hint {
    background: #ffe7e7;
    color: #f64d6c;
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
    border-top: 1px solid #c2c2c2;
  }
  /**************************name/cardID********************/
  .certification-enter-content {
      list-style: none;
    background: white;
      li {
        padding: 0.5rem 0.8rem;
        border-top: 1px solid #eeeeee;
        font-size: 0.75rem;
        color: #222222;
        span {
          padding-left: 0.6rem;
          input{
            border:none;
            width: 60%;
          }
          ::-webkit-input-placeholder { /* WebKit browsers */
            color:#888888;
          }
          :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:#888888;
          }
          ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:#888888;
          }
          :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #888888;
          }
        }
      }
  }
  /****************提示02********************/
  .hint02 {
    color: #888888;
    padding-top: 0.4rem;
    padding-left: 0.8rem;
    font-size: 0.65rem;
    font-weight: 500;
  }
  /**************************保存********************/
  .save {
    padding: 0 1rem;
    padding-top: 1.5rem;
    width: 100%;
    button {
      width: 100%;
      background: #f64d6c;
      height: 2rem;
      line-height: 2rem;
      color: #fff;
      font-weight: 500;
      font-size: 0.8rem;
      -moz-border-radius: 1rem;
      -webkit-border-radius: 1rem;
      border-radius: 1rem;
    }
  }

  /*****************为什么实名认证**********************/
  .why-certification {
    padding: 2rem 0.8rem;
    font-size: 0.65rem;
    h5 {
      font-weight: 600;
      color: #222222;
      width: 100%;
      text-align: center;
      padding-bottom: 0.6rem;
      font-size: 0.65rem;
    }
    p {
      line-height: 1rem;
      color: #888888;
    }
  }
}