@charset "utf-8";
/*** flex布局 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400;
}
.coupons-zone {
    .oupons-zone-imgHeader {
      width: 100%;
      height: 9rem;
      img {
        display: block;
        height: 100%;
      }
    }
  /***********************nav***************************/
  .coupons-zone-nav {
    background: white;
    ul {
      list-style: none;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      padding-left: 0.2rem;
      li {
        float: left;
        margin: 0 0.7rem;
        padding: 0.2rem 0;
        font-size: 0.75rem;
        color: #222222;
      }
      .coupons-zone-nav-active {
        color: #f01313;
        border-bottom: 2px solid #f01313;
      }
      &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }
/***********************用券商品***************************************/
  .coupons-zone-product {
    margin-top: 0.5rem;
    dl {
      @extend .display_flex;
      background: #fff;
      dt {
        width: 35%;
        position: relative;
        &::after {
          content: '';
          display: block;
          padding-top: 100%;
          visibility: hidden;
        }
        img {
          position: absolute;
          //padding: 0.25rem;
          top: 0;
          left: 0;
        }
      }
      dd {
        border-bottom: 1px solid #eeeeee;
        @extend .display_flex;
        padding-bottom: 0.8rem;
        padding-top: 0.8rem;
        width: 65%;
        -moz-box-orient:vertical;
        -webkit-box-orient:vertical;
        box-orient:vertical;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        p {
          padding: 0 0.5rem;
        }
        .p-name {
          line-height: 1.05rem;
          height: 2.1rem;
          color: #222222;
          font-size: 0.75rem;
          font-weight: 500;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow : ellipsis;
          overflow : hidden;
        }
        .p-brand {
          margin: 0.3rem 0.5rem;
          background: #fc1047;
          padding: 0.1rem 0;
          text-align: center;
          width: 44%;
          color: white;
          font-size: 0.65rem;
          -moz-border-radius: 0.3rem;
          -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
          strong {
            font-size: 0.75rem;
            color: #ffdf0b;
            padding-left: 0.2rem;
            span {
              font-size: 0.5rem;
            }
          }
        }
        .p-price {
          color: #fd104a;
          strong {
            font-size: 0.9rem;
            span {
              font-size: 0.65rem;
            }
          }
        }
      }
    }
  }
}