@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.coupon {
  padding: 0.5rem;
  dl {
    line-height: normal;
    margin-bottom: 0.5rem;
    border: 1px solid #D9D9D9;
    @extend .display_flex;
    -moz-box-align: stretch;
    -webkit-box-align: stretch;
    -o-box-align: stretch;
    box-align: stretch;
    align-items: stretch;
    dt {
      width: 60%;
      color: #fff;
      background: #FF8E32;
      padding: 0.5rem 0 0.5rem 1rem;
      @extend .display_flex;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      -moz-box-pack: center;
      -webkit-box-pack: center;
      -o-box-pack: center;
      box-pack: center;
      flex-direction: column;
      justify-content: center;
      span {
        display: block;
        font-size: 1.35rem;
      }
    }
    dd {
      width: 40%;
      text-align: center;
      background: #fff;
      padding: 0.5rem 0;
      @extend .display_flex;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      -moz-box-align: center;
      -webkit-box-align: center;
      -o-box-align: center;
      box-align: center;
      -moz-box-pack: center;
      -webkit-box-pack: center;
      -o-box-pack: center;
      box-pack: center;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      span {
        display: block;
        font-size: 0.65rem;
      }
      button {
        //display: block;
        color: #fff;
        background: #EC5648;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 0.2rem 0.4rem;
      }
    }
  }
  .zisedl dt {
    background: #9C33FF;
  }
  .hongsedl dt {
    background: #EC5648;
  }
}