@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.delivery_add {
  padding-bottom: 2rem;
  .addtxt {
    background: #fff;
    margin-bottom: 0.5rem;
    .infor {
      padding: 0.5rem;
      border-bottom: 1px solid #f5f5f5;
      p:nth-child(1) {
        padding-bottom: 0.3rem;
      }
      .teltxt {
        padding-left: 1rem;
      }
    }
    .handle {
      @extend .display_flex;
      -moz-box-pack: end;
      -webkit-box-pack: end;
      -o-box-pack: end;
      box-pack: end;
      justify-content: flex-end;
      padding: 0.3rem 0;
      p {
        padding-right: 1rem;
      }
      .iconfont {
        font-size: 0.8rem;
        color: #eb5151;
        margin-right: 0.3rem;
      }
    }
  }
}
/*** 新增地址和修改地址 ***/
.mailing_tit {
  line-height: 2rem;
  height: 2rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #f5f5f5;
}
.mailing_add {
  dl {
    @extend .display_flex;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 1rem;
    dt {
      width: 30%;
      color: #666;
      height: 2rem;
      line-height: 2rem;
    }
    dd {
      width: 70%;
      input {
        display: block;
        width: 100%;
        height: 2rem;
        line-height: 2rem;
      }
      select {
        display: block;
        float: left;
        width: 33%;
        height: 2rem;
        line-height: 2rem;
        border: none;
      }
      ::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }
}
.mailing_edit {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  @extend .display_flex;
  button {
    display: block;
    color: #fff;
    width: 50%;
  }
  button:first-child {
    background: #666;
  }
  button:last-child {
    background: #EA5E5D;
  }
}
/******/
.popup {
  height: 14.75rem;
  top: auto;
  bottom: 0;
}