@charset "utf-8";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    cursor: pointer;  // 苹果手机兼容
}
a {
    color: #333;
}
ul, ol, dl {
    list-style: none;
}
input, button {
    border: none;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
img {
    -webkit-touch-callout: default;
    width: 100%;
    height: 100%;
}
/*** iconJs ***/
.svgIcon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em; height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示 normalize.css 中也包含这行 */
    overflow: hidden;
}
/*** 内容区 ***/
.content {
    background: #f5f5f5;
}
/*** 圆角 ***/
.border_radius {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
/*** flex布局 ***/
.display_flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
/*** 浮动 ***/
.position_fixed {
    $box-shadow-color: #d1d1d1;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1;
    //-moz-box-shadow: 0px 0px 3px $box-shadow-color;
    //-webkit-box-shadow: 0px 0px 3px $box-shadow-color;
    //box-shadow: 0px 0px 3px $box-shadow-color;
}
/*** 清除浮动 ***/
.clearfix::before, .clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*** 按钮样式 ***/
.g_button_line {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0.3rem 0.6rem;
    border: 1px solid #dbdbdb;
}
.g_button_bgclor {
    @extend .g_button_line;
    color: #fff;
    background: #F13130;
    border: none;
}
/*** 页头 ***/
header {
    h1 {
        font-weight: bold!important;
    }
    h6 {
        line-height: 2.2rem;
        font-size: .85rem;
        font-weight: 500;
        position: relative;
        z-index: 20;
    }
    /*** 搜索 ***/
    .search-input {
        width: 80%;
        margin: auto;
        input {
            margin: auto!important;
            margin-top: 0.37rem!important;
            border: 1px solid #EA5E5D;
        }
    }
}
.bar {
    background: #fff;
}
/*** 页尾 ***/
footer {
    line-height: normal;
    span {
        display: block;
        font-size: 0.65rem;
    }
    .svgIcon {
        font-size: 1.2rem;
    }
    .tab-item {
        color: #333!important;
    }
    .selected {
        color: #f13030!important;
    }
    /*** 按钮 ***/
    .footerButton {
        font-weight: bold;
        color: #fff;
        width: 100%;
        height: 100%;
        background: #EA5E5D;
    }
}
/*** Swipe轮播Banner ***/
.banner-prodraw {
    position: relative;
    .swipe {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }
    .swipe-wrap {
        overflow: hidden;
        position: relative;
        @extend .display_flex;
        -moz-box-align: center;
        -webkit-box-align: center;
        -o-box-align: center;
        box-align: center;
        align-items: center;
        a {
            display: block;
            float:left;
            width:100%;
            position: relative;
            img {
                display: block;
            }
        }
    }
    // 计数
    .swipe-wrap-count {
        position: absolute;
        right: 0.25rem;
        bottom: 0.25rem;
        color: #fff;
        background: #000;
        filter: Alpha(opacity=50);
        background: rgba(0, 0, 0, 0.5);
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        width: 2.5rem;
        text-align: center;
    }
    // 计点
    .swipe-wrap-list {
        position: absolute;
        width: 100%;
        bottom: 0.25rem;
        @extend .display_flex;
        -moz-box-pack: center;
        -webkit-box-pack: center;
        -o-box-pack: center;
        box-pack: center;
        justify-content: center;
        p {
            width: 0.25rem;
            height: 0.25rem;
            background: #000;
            filter: Alpha(opacity=50);
            background: rgba(0, 0, 0, 0.5);
            -moz-border-radius: 100%;
            -webkit-border-radius: 100%;
            border-radius: 100%;
            margin: 0 0.125rem;
        }
        .choice-list {
            background: #f13030;
        }
    }
}
/*** 商品 ***/
.product_list {
    dl {
        @extend .display_flex;
        background: #fff;
        dt {
            width: 35%;
            position: relative;
            &::after {
                content: '';
                display: block;
                padding-top: 100%;
                visibility: hidden;
            }
            img {
                position: absolute;
                //padding: 0.25rem;
                top: 0;
                left: 0;
            }
        }
        dd {
            @extend .display_flex;
            padding-bottom: 0.5rem;
            padding-top: 0.3rem;
            width: 65%;
            -moz-box-orient:vertical;
            -webkit-box-orient:vertical;
            box-orient:vertical;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            font-size: 0.7rem;
            p {
                padding: 0 0.5rem;
            }
            .plname {
                line-height: 1.05rem;
                height: 2.1rem;
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow : ellipsis;
                overflow : hidden;
            }
            .plbrand {
                text-align: right;
                padding: 0px;
                span {
                    padding: 5px;
                    padding-left: 10px;
                    border: solid 1px #d7d7d7;
                    border-right: none;
                    -moz-border-radius-topleft: 25px;
                    -moz-border-radius-bottomleft: 25px;
                    -webkit-border-top-left-radius: 25px;
                    -webkit-border-bottom-left-radius: 25px;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                }
            }
            .plprice {
                color: #F13333;
                @extend .display_flex;
                -webkit-box-pack: justify;
                -webkit-box-align: center;
                justify-content: space-between;
                align-items: flex-end;
                strong {
                    font-size: 0.8rem;
                    font-weight: normal;
                }
                .stork {
                    color: #999;
                    padding-left: 0.3rem;
                    font-size: 0.75rem;
                }
                .cancel {
                    -moz-border-radius: 25px;
                    -webkit-border-radius: 25px;
                    border-radius: 25px;
                    padding: 0.3rem 0.5rem;
                    color: #fff;
                    background: #f13030;
                }
            }
        }
        border-bottom: 1px solid #F6F6F6;
    }
}
/*** 豆腐 ***/
.beancurd_cube {
    dl {
        display: -moz-block;
        display: -webkit-block;
        display: block;
        float: left;
        width: 49%;
        border-bottom: 0.4rem solid #F6F6F6;
        dt {
            width: 100%;
        }
        dd {
            width: 100%;
        }
    }
    dl:nth-child(even) {
        margin-left: 2%;
    }
}
.beancurd_cube::before, .beancurd_cube::after {
    @extend .clearfix;
}
/*** 排序 ***/
.compared_sort {
    @extend .display_flex;
    justify-content: space-around;
    border-bottom: 1px solid #F4F4F4;
    background: #fff;
    dl {
        dt {
            line-height: 2rem;
        }
        dd {
            line-height: 1.5rem;
        }
    }
    .selected_red {
        color: #F12929;
    }
}
/*** baai ***/
.baai_prompt {
    padding: 1rem 0;
    text-align: center;
    color: #dbdbdb;
    @extend .display_flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p {
        img {
            width: 50%;
        }
    }
}
/*** reconfirm ***/
.reconfirm {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(26,5,5,0.3)!important;
    filter: Alpha(opacity=30);
    background: #1a0505;
    dl {
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        width: 66%;
        padding: 1rem;
        margin: auto;
        background: #fff;
        position: absolute;
        top: 30%;
        left: 17%;
        dt {
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }
        dd {
            @extend .display_flex;
            justify-content: space-between;
            button {
                -moz-border-radius: 25px;
                -webkit-border-radius: 25px;
                border-radius: 25px;
                width: 48%;
                height: 1.6rem;
                font-size: 0.75rem;
            }
            .sure {
                color: #fff;
                background: #F12929;
            }
            .cancel {
                color: #f13030;
                background: none;
                border: 1px solid #f13030;
            }
        }
    }
}
/*** 未登陆&无数据 ***/
.global-nothing {
    @extend .display_flex;
    // 垂直排列
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    // 水平居中
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    // 垂直居中
    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    box-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        color: #f13030;
    }
    .svgIcon {
        font-size: 1.5rem;
    }
}
/***tab菜单***/
.buttons-tab .button.active {
    color: #f13030;
    border-color: #f13030;
}
/*** global-none ***/
.global-none {
    display: none!important;
}
/*** BODY大于640 ***/
@media (min-device-width: 640px) {
    html {
        background: #f8f8f8;
    }
    body {
        display: block;
        width: 540px;
        border: 1px solid #ddd;
        margin: auto;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.1);
        box-shadow: 0 2px 10px rgba(0,0,0,.1);
        .buttons-tab, .settlement, .del_select, .position_fixed, .reconfirm {
            width: 538px!important;
        }
    }
}
//呼吸按钮
.breathing-btn{
    position: fixed;
    bottom: 3rem;
    right: 0.5rem;
    display: block;
    z-index: 1000;
    span{
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: rgba(47, 52, 61, 0.95);
        text-align: center;
        line-height: 2.2rem;
        color:white;
        font-size: 0.5rem;
    }
   .global_breathing {
       display: none;

       ul {
           background: rgba(47, 52, 61, 0.95);
           height: 2.2rem;
           width: 8rem;
           line-height: 2.2rem;
           display: -moz-box;
           display: -webkit-box;
           text-align: center;
           border-radius: 1.2rem;
           -moz-border-radius: 1.2rem;
           -webkit-border-radius: 1.2rem;
           //display:box;
           -moz-box-direction: normal; //设置mormal默认值
           -webkit-box-direction: normal; //设置mormal默认值
           box-direction: normal; //设置mormal默认值
           list-style: none;
           li {
               -moz-box-flex: 1;
               -webkit-box-flex: 1;
               box-flex: 1;
               color: white;
               a {
                   color: white;
               }
           }
       }
   }
}