@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/***********own**************/
.integral-header{
  padding: 0.3rem;
  background: white;
  margin-bottom: 0.5rem;
  span{
    color:#ff1e32;
    font-size: 1.2rem;
    padding-left: 0.2rem;
  }
}
#wu{
  display: block;
}
#zan{
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
  h5{
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  .balove{
    width: 5rem;
    height: 2rem;

  }
}