@charset "utf-8";
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400;
}
.invoice-fill {
  .hint {
    background: #f2f2f2;
    color: #222222;
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
    border-top: 1px solid #c2c2c2;
  }
  .invoice-title {
    background: white;
    dl {
      border-top: 1px solid #eeeeee;
      background: white;
      padding: 0.6rem 0.8rem;
      font-size: 0.75rem;
      dt {
        float: left;
        .svgIcon {
          font-size: 1rem;
        }
      }
      .checked .svgIcon {
        color: #fb4f70;
      }
      dd {
        float: left;
        margin-left: 0.5rem;
        .svgIcon {
          font-size: 0.8rem;
        }
      }
      &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }
  /***************************公司、税号*********************************/
  .invoice-fill-content {
    margin-top: 0.5rem;
    background: white;
    display: none;
    ul {
      list-style: none;
      li {
        padding: 0.5rem 0.8rem;
        color: #222222;
        font-size: 0.75rem;
        border-top: 1px solid #eeeeee;
        span {
          float: right;
          width: 66%;
          input{
            border:none;
            width: 90%;
          }
          ::-webkit-input-placeholder { /* WebKit browsers */
            color: #888888;
          }
          :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: #888888;
          }
          ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #888888;
          }
          :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #888888;
          }
          strong {
            display: none;
            float: right;
            position: relative;
            width: 10%;
            top: 0.1rem;
            .svgIcon {
              font-size: 0.9rem;
              color: #cacaca;
            }
          }
        }
      }
    }

  }
  /**************************保存********************/
  .save {
    padding: 0 1rem;
    padding-top: 1.5rem;
    width: 100%;
    button {
      width: 100%;
      background: #f64d6c;
      height: 2rem;
      line-height: 2rem;
      color: #fff;
      font-weight: 500;
      font-size: 0.8rem;
      -moz-border-radius: 1rem;
      -webkit-border-radius: 1rem;
      border-radius: 1rem;
    }
  }
}