@charset "utf-8";
/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400;
}

.joinIntroduced {
  width: 100%;
  padding-bottom: 2rem;
  background: white;
  img {
    display: block;
  }

  .join01 {
    height: 40rem;
    img {
      height: 100%;
    }
  }

  .join02 {
    height: 54rem;
    img {
      height: 100%;
    }
  }

  .join03 {
    height: 63rem;
    img {
      height: 100%;
    }
  }

  .join04 {
    height: 40rem;
    img {
      height: 100%;
    }
  }

  .goto-join {
    background: white;
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      background: #ed1e79;
      padding: 0.3rem 1.5rem;
      color: white;
      font-size: 0.75rem;
      -moz-border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      border-radius: 0.3rem;
    }
  }
}