@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.material_library {
  width: 96%;
  padding-top: 0.4rem;
  margin: auto;
  p {
    float: left;
    width: 49%;
    margin: 0 auto 2% auto;
    position: relative;
    img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
    &:nth-child(2n) {
      margin-left: 2%;
    }
    &::after {
      content: " ";
      display: block;
      padding-top: 100%;
    }
  }
  &::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}