@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.member {
  background: white;
  .header {
    background: url('http://img2.imgtn.bdimg.com/it/u=3486148,3768719721&fm=214&gp=0.jpg');
    background-size: 100% 100%;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    p {
      line-height: 1.8rem;
    }
  }
  .img01 {
    border-radius: 100%;
    border: 2px solid #fff;
    width: 3rem;
    height: 3rem;
  }
  .huiyuan {
    a {
      .img02 {
        border-radius: 100%;
        position: relative;
        top: 0.3rem;
        width: 1rem;
        height: 1rem;

      }
      b {
        font-weight: normal;
      }
    }
    strong {
      font-weight: normal;
      padding-left: 0.5rem;
    }
  }

  .comm {
    margin: 0.5rem 0;
    position: relative;
    left: 50%;
    width: 6rem;
    height: 1.6rem;
    margin-left: -3rem;
    border-left: 2px solid #E06561;
    border-right: 2px solid #E06561;
    b {
      display: block;
      width: 100%;
      border-top: 1px solid #E06561;
      top: 0.8rem;
      position: absolute;
    }
    a {
      position: absolute;
      line-height: 1.6rem;
      width: 5rem;
      display: block;
      background: white;
      left: 0.5rem;
      text-align: center;
      color:#E9608A;

    }
  }
  .si-tu{
    padding: 0px 1rem;
    width:100%;
    height:2rem;
    display:-moz-box;
    display:-webkit-box;
    text-align: center;
    //display:box;
    -moz-box-direction:normal;//设置mormal默认值
    -webkit-box-direction:normal;//设置mormal默认值
    box-direction:normal;//设置mormal默认值
    li{
      list-style: none;
      color: #EF8BAB;
      i{
        font-size:1rem;
        display:block;
        font-size: 2.6rem;
      }
    }
    li.li01{
      -moz-box-flex:1;
      -webkit-box-flex:1;
      box-flex:1;
      list-style: none;
      span{
        font-style: normal;
        position: relative;
        top:-0.5rem;
      }
    }
    li.li02{
      -moz-box-flex:1;
      -webkit-box-flex:1;
      box-flex:1;
    list-style: none;
      span{
        font-style: normal;
        position: relative;
        top:-0.5rem;
      }
    }
    li.li03{
      -moz-box-flex:1;
      -webkit-box-flex:1;
      box-flex:1;
      list-style: none;
      span{
        font-style: normal;
        position: relative;
        top:-0.5rem;
      }
    }
    li.li04{
      -moz-box-flex:1;
      -webkit-box-flex:1;
      box-flex:1;
      list-style: none;
      span{
        font-style: normal;
        position: relative;
        top:-0.5rem;
      }
    }
  }


  .footer{
    background: #F6DCE9;
    margin-top:4rem;
    padding:0.5rem;
    .comm02 {
       margin: 0.5rem 0;
       position: relative;
       left: 50%;
       width: 10rem;
       height: 1.6rem;
       margin-left: -5rem;
       border-left: 2px solid #E06561;
       border-right: 2px solid #E06561;
       b {
         display: block;
         width: 100%;
         border-top: 1px solid #E06561;
         top: 0.8rem;
         position: absolute;
       }
       a {
         position: absolute;
         line-height: 1.6rem;
         width: 9rem;
         display: block;
         background: #F6DCE9;
         left: 0.5rem;
         text-align: center;
         color:#DB4A51;

       }
     }
    .form01{
      width: 100%;
      padding: 0.8rem 0.5rem;
      border-radius: 0.5rem;
      background: #D3DED5;
      .form-detail{
        .timer{
          @extend .display_flex;
          p {
            width: 25%;
            text-align: center;
            font-size: 0.8rem;
            padding-top: 0.2rem;
            border-top:2px solid #D2C0CA;
            span {
              color: #fff;
              line-height: normal;
              display: block;
            }
            &:nth-child(1) {
              border-top: 2px solid #F13232;
            }
          }
        }
      }
      .form01-bottom{
        font-size: 0.62rem;
        padding-top: 0.5rem;
        text-align: right;
        @extend .display_flex;
        justify-content: space-between;
      }
      &:nth-child(2) {
        background: #D5D3E1;
      }
    }
    .vip{
      padding: 1rem 0 0.5rem 0;
    }
    .vip-form{
        background: white;
        border-radius: 0.5rem;
        padding: 0.5rem 0.4rem;
        width: 100%;
        li{
          list-style: none;
           margin: 0.5rem 0;
           width: 100%;

          height: 1.6rem;
          line-height: 1.6rem;
          i{
            font-style: normal;
            font-weight: 400;
          }
          b{
            float: right;
            margin-right: 0.3rem;
            color: red;
            font-weight: normal;

          }
          botton{
            float: right;
            right: 0;
            display: block;
            width:4rem;
            line-height: 1.6rem;
            text-align: center;
            border-radius: 1rem;
            background: red;
            color: white;
            font-weight: 400;
          }
        }
    }
   .last-div{
     background: white;
     border-radius: 0.5rem;
     padding: 0.5rem 0.4rem;
     margin-top: 0.5rem;
     width: 100%;
     h3{
       font-size: 1.1rem;
       width: 100%;
       padding-top: 0.5rem;
       padding-bottom: 0.9rem;
       text-align: center;
       font-weight: 500;
       i{
         padding-right: 0.2rem;
         font-size:1.4rem;
       }
     }
     h4{
       padding: 0.1rem 0;
     }
     p{
       line-height: 1.5rem;
       text-indent: 1em;
     }
   }
  }
}