@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.payment {
  .customer_infor {
    //padding: 0 0.3rem;
    strong, span {
      color: red;
    }
    ul {
      font-size: 0.75rem;
      padding: 0.3rem;
      background: #fff;
      border-bottom: solid 1px #e7e7e7;
      li {
        width: 50%;
        float: left;
        &:last-child {
          text-align: right;
        }
      }
      &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
    dl {
      font-size: 0.75rem;
      padding: 0.3rem;
      background: #fff;
      border-bottom: solid 1px #e7e7e7;
      @extend .display_flex;
      dt {
        width: 15%;
      }
      dd {
        width: 85%;
      }
    }
  }
  .order_infor {
    //padding: 0 0.3rem;
    dl {
      border-bottom: solid 1px #e7e7e7;
      @extend .display_flex;
      padding: 0.3rem;
      background: #fff;
      dt {
        width: 20%;
        img {
          display: block;
          border: 1px solid #dbdbdb;
        }
      }
      dd {
        width: 80%;
        font-size: 0.65rem;
        @extend .display_flex;
        -moz-box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-pack: justify;
        -webkit-box-pack: justify;
        flex-direction: column;
        justify-content: space-between;
        p {
          padding-left: 0.5rem;
        }
        .plname {
          line-height: 1rem;
          height: 1rem;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .plsepc {
          color: #999;
        }
        .plpic {
          @extend .display_flex;
          -moz-box-pack: justify;
          -webkit-box-pack: justify;
          -moz-box-align: center;
          -webkit-box-align: center;
          justify-content: space-between;
          align-items: center;
          span {
            display: block;
          }
          span:first-child {
            color: #f13030;
          }
        }
      }
    }
  }
}
/*** footer ***/
.bar-tab {
  font-size: 0.75rem;
  height: 7.2rem;
  .svgIcon {
    font-size: 1rem;
    color: #ccc;
  }
  .selected {
    color: red;
  }
  .baai_money {
    line-height: 2.2rem;
    height: 2.2rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid #e7e7e7;
    p {
      float: left;
      strong {
        color: red;
      }
    }
    span {
      display: block;
      float: right;
    }
    .checked svg {
      color: red;
    }
    &::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  .paytype {
    border-bottom: 1px solid #e7e7e7;
    dl {
      float: left;
      width: 50%;
      height: 2.2rem;
      padding: 0 0.5rem;
      @extend .display_flex;
      -moz-box-pack: justify;
      -webkit-box-pack: justify;
      -o-box-pack: justify;
      box-pack: justify;
      justify-content: space-between;
      -moz-box-align: center;
      -webkit-box-align: center;
      -o-box-align: center;
      box-align: center;
      align-items: center;
      dt {
        @extend .display_flex;
        -moz-box-align: center;
        -webkit-box-align: center;
        -o-box-align: center;
        box-align: center;
        align-items: center;
        p:last-child {
          padding-left: 0.3rem;
        }
      }
      .icon-zhifubao {
        font-size: 1.5rem;
        color: #02a0e9;
      }
      .icon-weixin {
        font-size: 1.5rem;
        color: #5ec222;
      }
    }
    &::after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  button {
    display: block;
    width: 60%;
    margin: 0.5rem auto;
    color: #fff;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    background: #F13130;
    -moz-border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    border-radius: 1.5rem;
  }
}
.bar-tab~.content {
  bottom: 7.2rem;
}