@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/*** own ***/
.content {
  display: block;
}
  .img02{
    width: 100%;
  }
.quality02{
   width: 100%;
  text-align: center;
  padding-top: 0.8rem;
  .quality02-img01{
      width: 10rem;
  }
}

.quality03 {
  padding-top: 0.5rem;
  width: 80%;
  margin: auto;
  @extend .display_flex;
  -moz-box-pack: justify;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  box-pack: justify;
  justify-content: space-between;
  div {
    color: #da4364;
    font-size: 0.75rem;
    line-height: normal;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #da4364;
    @extend .display_flex;
    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
    justify-content: center;
    align-items: center;
  }
}

.quality04{
      width: 100%;
      padding: 1rem 0;
     text-align: center;
      .quality04-img{
          width: 5.6rem;
          display: inline-block;
      }
}

.quality05{
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  color:#595b58;
  font-weight: 600;
  margin-top: -0.3rem;
  padding-bottom: 0.7rem;
}

.quality06{
    width: 100%;
  padding-bottom: 0.3rem;
  text-align: center;
    .quality06-img{
       width: 8.8rem;
    }
}


.footer{
  background: #ffffff;
  width:100%;
  .fot01{
     width: 100%;
    text-align: center;
    font-size: 0.6rem;
    color:#c8c8c8;
    font-weight: 600;
    padding: 0.5rem 0;

  }

  .fot02{
    width: 100%;
    text-align: center;
    .fot02-img{
      width: 14rem;
    }
  }

  .fot03{
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
    color:#c8c8c8;
    font-weight: 600;
    padding-top:1rem;

  }



  .fot04 {
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    .fot04-img {
      width: 10rem;
    }

  }
  .fot05{
    width: 100%;
    text-align: center;
    padding-top: 1.3rem;
    padding-bottom: 1rem;
    .fot05-img{
      width: 6rem;
    }
  }


  .fot06{
    width:100%;
    display:-moz-box;
    display:-webkit-box;
    //display:box;
     padding: 0 1.8rem;
    -moz-box-direction:normal;//设置mormal默认值
    -webkit-box-direction:normal;//设置mormal默认值
    box-direction:normal;//设置mormal默认值
    .p01{
      -moz-box-flex:2;
      -webkit-box-flex:2;
      box-flex:2;
    }
    .i01{
      -moz-box-flex:1;
      -webkit-box-flex:1;
      box-flex:1;
       position: relative;
      top:1rem;
      color: #bcb2b3;
      font-size: 0.8rem;
      padding: 0 0.3rem;
    }

    .p02{
      -moz-box-flex:2;
      -webkit-box-flex:2;
      box-flex:2;
    }
    .i02{
      -moz-box-flex:1;
      -webkit-box-flex:1;
      box-flex:1;
      position: relative;
      top:1rem;
      color: #bcb2b3;
      font-size: 0.8rem;
      padding: 0 0.3rem;
    }
    .p03{
      -moz-box-flex:2;
      -webkit-box-flex:2;
      box-flex:2;
    }
    .i03{
      -moz-box-flex:1;
      -webkit-box-flex:1;
      box-flex:1;
      position: relative;
      top:1rem;
      color: #bcb2b3;
      font-size: 0.8rem;
      padding: 0 0.3rem;

    }
    .p04{
      -moz-box-flex:2;
      -webkit-box-flex:2;
      box-flex:2;
    }


  }

  .fot07{
    width: 100%;
    padding: 0.5rem 0.8rem;
    text-align: center;
    p{
      img{
      }
    }
  }


  .fot08{
      width: 100%;
      padding: 0.6rem 0;
      text-align: center;
      p{
        img{
          width: 5rem;
        }
      }
    }
  .fot09{
    width: 100%;
    padding: 0.4rem 0;
    text-align: center;
    p{
      img{
        width: 15rem;
      }
    }
  }

  .fot10{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    p{
      img{
        width: 6rem;
      }
    }
  }

  .fot11{
      padding:0 0.7rem;
    .fott{
      background: #e9e9e9;
      width: 100%;
      padding: 0.5rem 0.5rem 0 0.5rem;
      h4{
        color: #afaba8;
        font-size: 0.6rem;
        width: 100%;
        font-weight: 600;
      }
      .fe{
        display:-moz-box;
        display:-webkit-box;
        //display:box;

        padding: 0 0.4rem;
        -moz-box-direction:normal;//设置mormal默认值
        -webkit-box-direction:normal;//设置mormal默认值
        box-direction:normal;//设置mormal默认值
        .gui{
          -moz-box-flex:1;
          -webkit-box-flex:1;
          box-flex:1;
          padding: 0 0.3rem;
          position: relative;
          top: 0.6rem;
        }
        .nv{
          -moz-box-flex:1;
          -webkit-box-flex:1;
          box-flex:1;
          padding: 0 0.3rem;
          position: relative;
          top: 0.3rem;

        }

      }

    }

  }


    .fot12{
                padding:0 0.7rem;
                padding-top: 1rem;
                .fott12{
                  background: #e9e9e9;
                  width: 100%;
                  padding: 0.5rem;
                  h4{
                    color: #afaba8;
                    font-size: 0.6rem;
                    width: 100%;
                    font-weight: 600;
                  }
                  .fe12{
                    display:-moz-box;
                    display:-webkit-box;
                    //display:box;

                    padding: 0 0.2rem;
                    padding-top: 0.5rem;
                    -moz-box-direction:normal;//设置mormal默认值
                    -webkit-box-direction:normal;//设置mormal默认值
                    box-direction:normal;//设置mormal默认值
                    .yi{
                      -moz-box-flex:1;
                      -webkit-box-flex:1;
                      box-flex:1;
                      padding: 0 0.3rem;

                    }
                    .he{
                      -moz-box-flex:1;
                      -webkit-box-flex:1;
                      box-flex:1;
                      padding: 0 0.3rem;


                    }

                  }

                }


              }



  .fot13{
    padding:0 0.7rem;
    padding-top: 0.5rem;
    .fott13{
      background: #e9e9e9;
      width: 100%;
      padding: 0.5rem;
      h4{
        color: #afaba8;
        font-size: 0.6rem;
        width: 100%;
        font-weight: 600;
      }
      .fe13{
        display:-moz-box;
        display:-webkit-box;
        //display:box;

        padding: 0 0.2rem;
        padding-top: 0.5rem;
        -moz-box-direction:normal;//设置mormal默认值
        -webkit-box-direction:normal;//设置mormal默认值
        box-direction:normal;//设置mormal默认值
        .mai01{
          -moz-box-flex:1;
          -webkit-box-flex:1;
          box-flex:1;
          padding: 0 0.3rem;

        }
        .mai02{
           -moz-box-flex:1;
           -webkit-box-flex:1;
           box-flex:1;
           padding: 0 0.3rem;


         }
        .mai03{
          -moz-box-flex:1;
          -webkit-box-flex:1;
          box-flex:1;
          padding: 0 0.3rem;


        }

      }

    }

  }

  .fot14{
    padding:0 0.7rem;
    padding-top: 0.5rem;
    .fott14{
      background: #e9e9e9;
      width: 100%;
      padding: 0.5rem;
      h4{
        color: #afaba8;
        font-size: 0.6rem;
        width: 100%;
        font-weight: 600;
      }
      .fe14{
        display:-moz-box;
        display:-webkit-box;
        //display:box;


        padding-top: 0.5rem;
        -moz-box-direction:normal;//设置mormal默认值
        -webkit-box-direction:normal;//设置mormal默认值
        box-direction:normal;//设置mormal默认值
        .hai01{
          -moz-box-flex:2;
          -webkit-box-flex:2;
          box-flex:2;
          padding: 0 0.3rem;

        }
        .hai02{
          -moz-box-flex:2;
          -webkit-box-flex:2;
          box-flex:2;
          padding: 0 0.3rem;


        }

      }

    }

  }


  .fot15{
    padding:0 0.7rem;
    padding-top: 0.5rem;
    display:-moz-box;
    display:-webkit-box;
    //display:box;
    padding-top: 0.5rem;
    -moz-box-direction:normal;//设置mormal默认值
    -webkit-box-direction:normal;//设置mormal默认值
    box-direction:normal;//设置mormal默认值

    .fot15-01{
       -moz-box-flex:3;
       -webkit-box-flex:3;
       box-flex:3;
      background: #e9e9e9;
      width: 100%;
      margin-right: 0.3rem;
      padding: 0.5rem 0.3rem 1.2rem 0.3rem;
      height: 10rem;
      h4{
        color: #afaba8;
        font-size: 0.6rem;
        width: 100%;
        font-weight: 600;
      }
      p{
        width: 100%;
        text-align: center;
        padding: 1.3rem 0;
        img{
          width: 8rem;
        }
      }

     }

    .fot15-02{
      -moz-box-flex:3;
      -webkit-box-flex:3;
      box-flex:3;
      background: #e9e9e9;
      width: 100%;
      margin-left: 0.3rem;
      padding: 0.5rem 0.3rem 1.2rem 0.3rem;

      height: 10rem;
      h4{
        color: #afaba8;
        font-size: 0.6rem;
        width: 100%;
        font-weight: 600;
      }
      p{
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        img{
          width: 3.4rem;
        }
      }
    }

  }

     .fot16{
         width: 100%;
         text-align: center;
        padding-top: 2rem;
        padding-bottom: 0.3rem;
       .six{
         width: 6.8rem;
       }
     }

     .fot17{
       padding: 1rem;
       display:-moz-box;
       display:-webkit-box;
       //display:box;
       height: 8.8rem;
       -moz-box-direction:normal;//设置mormal默认值
       -webkit-box-direction:normal;//设置mormal默认值
       box-direction:normal;//设置mormal默认值

       .fot17-01{
         -moz-box-flex:2;
         -webkit-box-flex:2;
         box-flex:2;
         width: 7.8rem;
         p{
           width: 7.8rem;
           .kefu{
             width: 7.8rem;
           }
         }
       }
       .fot17-02{
         -moz-box-flex:3;
         -webkit-box-flex:3;
         box-flex:3;
         color: #9f9b9c;
         width: 6.4rem;
         li{
           list-style: none;
           padding-bottom: 0.8rem;
           font-size: 0.6rem;
           font-weight: 600;
           span{
             background: #958a88;
             display:inline-block;
             width: 0.3rem;
             height: 0.3rem;
             border-radius: 50%;
             margin-right: 0.3rem;
             position: relative;
             top:-0.1rem;
           }
         }
       }
     }

    .footer-bottom{
        width: 100%;

        background:#d61c45 ;
       padding: 0.8rem 0;
      text-align: center;
       .ba-ai{
          width: 3.5rem;
       }
      .footer-p{
          color: white;
        font-size: 0.7rem;
        font-weight: 600;
        
      }
    }


}
