@charset "utf-8";
/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400;
}
.content {
  padding: 0 0.8rem;
  h5 {
    padding: 0.6rem;
    color: #222222;
    font-size: 0.8rem;
    width: 96%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
  }
  .answering {
    border: 1px solid #c5c5c5;
    padding: 0.8rem 1rem;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    background: white;
    p {
      font-size: 0.7rem;
      line-height: 1rem;
      color: #212121;
      width: 100%;
      padding-bottom: 2rem;
    }
    .usefulORuseless {
      width: 100%;
      border-top: 1px solid #d9d9d9;
      padding: 1.2rem 0;
      span {
        padding-left: 18%;
        color: #a5a5a5;
        font-size: 0.75rem;
        u {
          text-decoration: none;
          font-size: 1.2rem;
        }
        .meiyong {
          position: relative;
          top: 0.4rem;
        }
        .usefuluselessActive {
          color: #f64d6c;
        }
        i {
          font-style: normal;
          padding-left: 0.3rem;
        }
      }
    }
  }
}