@charset "utf-8";
/*** 公共 ***/
.display_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

/***********own**************/

.edit-form{
  dl {
    padding: 0.8rem 0.5rem;
    background: white;
    //border-bottom: 1px solid #e7e7e7;
    @extend .display_flex;
    dt {
      width: 20%;
    }
    dd {
      width: 80%;
      input {
        display: block;
        width: 100%;
      }
    }
  }
}
.alter-code {
  width: 100%;
  padding: 1rem;
  background: #FFFFFF;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8; }
.alter-code input {
  display: block;
  float: left;
  background: #FFFFFF;
  width: 60%; }
.alter-code button {
  display: block;
  float: left;
  background: #FFFFFF;
  width: 38%;
  text-align: center;
  position: relative;
  height: auto;
  line-height: normal; }
.alter-code button::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  height: 100%;
  border-left: 1px solid #d7d7d7; }
.alter-code::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
