@charset "utf-8";
/*** own ***/
.title {
  font-size: 0.8rem;
  font-weight: 400;
}

.trade-logistics {
  dl {
    padding: 1rem 0.8rem;
    dt {
      width: 100%;
      color: #888888;
      text-align: center;
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
    dd {
      background: #fff;
      padding: 0.5rem 0.8rem 0.5rem 0.5rem;
      p {
        font-size: 0.75rem;
        u {
          text-decoration: none;
        }
        .p-color01 {
          color: #fa4f71;
        }
        .p-color02 {
          color: #73c08c;
        }
        span {
          color: #888888;
        }
      }
      h5 {
        margin-top: 0.65rem;
        img {
          float: left;
          width: 2.4rem;
          height: 2.4rem;
        }
        i {
          padding-left: 0.5rem;
          font-size: 0.76rem;
          font-style: normal;
          width: 81%;
          float: left;
          word-break: break-all;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow : ellipsis;
          overflow : hidden;
        }
        &::after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
      }
      h6 {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        span {
          float: right;
          font-size: 0.65rem;
          color: #888888;
          font-weight: 500;
        }
        &::after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
      }
    }
  }
}